.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
**/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store


# node_modules
package-lock.json
node_modules/

#yarn
.yarn/*
!.yarn/releases

# test_output
test-results/
/e2e/reporters/
/e2e/reporters/accessibility-reporter/
/test-results/result.xml
e2e/e2e-documentation/results/
