apiVersion: v2
appVersion: "1.0"
description: A Helm chart for civil-general-apps-ccd-definition App
name: civil-ga-ccd
home: https://github.com/hmcts/civil-general-apps-ccd-definition
version: 0.0.58
maintainers:
  - name: HMCTS Civil team

dependencies:
  - name: civil-general-applications
    version: 0.0.60
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: civil-service
    version: 0.0.67
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-service.enabled
  - name: ccd
    version: 8.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
  - name: xui-webapp
    version: ~1.0.8
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: camunda-bpm
    version: 0.0.44
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: camunda-bpm.enabled
  - name: servicebus
    version: 1.0.6
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: servicebus.enabled

  # WA
  - name: wa
    version: 1.0.5
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  # CCD message publisher
  - name: ccd-message-publisher
    version: ~0.1.7
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
