apiVersion: v2
appVersion: "1.0"
description: A Helm chart for civil-general-apps-ccd-definition App
name: civil-ga-ccd
home: https://github.com/hmcts/civil-general-apps-ccd-definition
version: 0.0.53
maintainers:
  - name: HMCTS Civil team

dependencies:
  - name: civil-general-applications
    version: 0.0.50
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: civil-service
    version: 0.0.46
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-service.enabled
  - name: ccd
    version: 8.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
  - name: xui-webapp
    version: ~1.0.8
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: camunda-bpm
    version: 0.0.42
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: camunda-bpm.enabled
  - name: servicebus
    version: 1.0.4
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: servicebus.enabled

  # WA
  - name: wa-task-management-api
    version: ~0.0.37
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-task-monitor
    version: ~0.0.27
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-case-event-handler
    version: 0.0.30
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-workflow-api
    version: 0.0.36
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  # WA Crons
  - name: wa-task-batch-service
    version: ~0.0.15
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-message-cron-service
    version: ~0.0.3
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  # CCD message publisher
  - name: ccd-message-publisher
    version: ~0.1.7
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled

