civil-general-applications:
  java:
    ingressHost: ${SERVICE_FQDN}
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: CIVIL_CLIENT_TOTP_SECRET
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: AppInsightsInstrumentationKeyGeneralApplications
            alias: azure.application-insights.instrumentation-key
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: gov-notify-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
      civil-gen-apps:
        resourceGroup: civil
        secrets:
          - name: microservicekey-civil-general-applications
            alias: idam.s2s-auth.totp_secret
    environment:
      LAUNCH_DARKLY_ENV: service-staging
      PAY_CALLBACK_URL: https://civil-ga-ccd-staging.aat.platform.hmcts.net/service-request-update
civil-service:
  java:
    ingressHost: civil-ga-ccd-civil-service-staging.aat.platform.hmcts.net
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: cmc-db-password-v15
            alias: CMC_DB_PASSWORD
          - name: cmc-db-username-v15
            alias: CMC_DB_USERNAME
          - name: cmc-db-host-v15
            alias: CMC_DB_HOST
          - name: gov-notify-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
          - name: robotics-notification-recipient-spec
            alias: robotics.notification.specRecipient
          - name: robotics-notification-recipient-lipj
            alias: robotics.notification.lipJRecipient
          - name: ordnance-survey-api-key
            alias: OS_POSTCODE_LOOKUP_API_KEY
          - name: notification-caseworker-spec-receiver
            alias: notification.caseworker.spec.receiver
          - name: mediation-notification-sender
            alias: mediation.emails.sender
          - name: mediation-notification-recipient
            alias: mediation.emails.recipient
          - name: hmc-servicebus-shared-access-key-tf
            alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
    environment:
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
idam-pr:
  redirect_uris:
    XUI:
      - https://civil-ga-ccd-xui-staging.aat.platform.hmcts.net/oauth2/callback
xui-webapp:
  nodejs:
    ingressHost: civil-ga-ccd-xui-staging.aat.platform.hmcts.net
ccd:
  ccd-api-gateway-web:
    nodejs:
      ingressHost: civil-ga-ccd-gateway-staging.aat.platform.hmcts.net
  ccd-data-store-api:
    java:
      ingressHost: civil-ga-ccd-data-store-staging.aat.platform.hmcts.net
  ccd-definition-store-api:
    java:
      ingressHost: civil-ga-ccd-definition-store-staging.aat.platform.hmcts.net
camunda-bpm:
  java:
    ingressHost: civil-ga-ccd-camunda-staging.aat.platform.hmcts.net
civil-wa:
  enabled: false
