civil-service:
  java:
    ingressHost: ${SERVICE_NAME}.aat.platform.hmcts.net
    memoryRequests: 2Gi
    cpuRequests: 2000m
    memoryLimits: 4Gi
    cpuLimits: 3500m
    devmemoryRequests: 6Gi
    devcpuRequests: 2000m
    devmemoryLimits: 8Gi
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: cmc-db-password-v15
            alias: CMC_DB_PASSWORD
          - name: cmc-db-username-v15
            alias: CMC_DB_USERNAME
          - name: cmc-db-host-v15
            alias: CMC_DB_HOST
          - name: gov-notify-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
          - name: robotics-notification-recipient-spec
            alias: robotics.notification.specRecipient
          - name: robotics-notification-recipient-lipj
            alias: robotics.notification.lipJRecipient
          - name: ordnance-survey-api-key
            alias: OS_POSTCODE_LOOKUP_API_KEY
          - name: notification-caseworker-spec-receiver
            alias: notification.caseworker.spec.receiver
          - name: mediation-notification-sender
            alias: mediation.emails.sender
          - name: mediation-notification-recipient
            alias: mediation.emails.recipient
          - name: hmc-servicebus-shared-access-key-tf
            alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
    environment:
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      PAY_CALLBACK_URL: https://civil-ga-ccd-staging.aat.platform.hmcts.net/service-request-update
idam-pr:
  redirect_uris:
    XUI:
      - https://civil-ga-ccd-xui-staging.aat.platform.hmcts.net/oauth2/callback
xui-webapp:
  nodejs:
    ingressHost: civil-ga-ccd-xui-staging.aat.platform.hmcts.net
    memoryRequests: 2Gi
    cpuRequests: 2000m
    memoryLimits: 4Gi
    cpuLimits: 3500m
    devmemoryRequests: 6Gi
    devcpuRequests: 2000m
    devmemoryLimits: 8Gi
    devcpuLimits: 4500m

ccd:
  ccd-api-gateway-web:
    nodejs:
      ingressHost: civil-ga-ccd-gateway-staging.aat.platform.hmcts.net
  ccd-data-store-api:
    java:
      ingressHost: civil-ga-ccd-data-store-staging.aat.platform.hmcts.net
      devcpuRequests: 1000m
      devmemoryRequests: 2048Mi
      environment:
        DATA_STORE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
      secrets:
        STORAGE_ACCOUNT_NAME:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: storageAccountName
          disabled: true
        STORAGE_ACCOUNT_KEY:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: accessKey
          disabled: true
        DATA_STORE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true

  ccd-definition-store-api:
    java:
      ingressHost: civil-ga-ccd-definition-store-staging.aat.platform.hmcts.net
      devcpuRequests: 1000m
      devmemoryRequests: 4096Mi
      devmemoryLimits: 8192Mi
      environment:
        DEFINITION_STORE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        DEFINITION_STORE_DB_OPTIONS: "?stringtype=unspecified"
      secrets:
        STORAGE_ACCOUNT_NAME:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: storageAccountName
          disabled: true
        STORAGE_ACCOUNT_KEY:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: accessKey
          disabled: true
        DEFINITION_STORE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true

  ccd-user-profile-api:
    java:
      ingressHost: civil-ga-ccd-xui-staging-aat.aat.platform.hmcts.net
      environment:
        USER_PROFILE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        USER_PROFILE_DB_OPTIONS: "?stringtype=unspecified"
      secrets:
        USER_PROFILE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true

camunda-bpm:
  java:
    ingressHost: civil-ga-ccd-camunda-staging.aat.platform.hmcts.net
    devcpuRequests: 1000m
    devmemoryRequests: 1024Mi
civil-wa:
  enabled: false
